<div class="sizetable">
  <div class="size-table-main">
    <table>
      <tbody>
        <tr>
          <th></th>
          <th>Fabric Width 44 Inches</th>
          <th>Fabric Width 56 - 60 Inches</th>
        </tr>
 <tr>
            <td>Blouse (Cap/Elbow sleeves)</td>
            <td>1 Meter</td>
            <td>1 Meter</td>
          </tr>
          <tr>
            <td>Shirt / Short Kurti</td>
            <td>2 Meters</td>
            <td>2 Meters</td>
          </tr>
          <tr>
            <td>Kurti / Peplum Top / Cape</td>
            <td>3 Meters</td>
            <td>2 Meters</td>
          </tr>
          <tr>
            <td>A-line kurti / Sharara</td>
            <td>4 Meters</td>
            <td>2 Meters</td>
          </tr>
          <tr>
            <td>Lehenga / Anarkali</td>
            <td>5 Meters</td>
            <td>3 Meters</td>
          </tr>
          <tr>
            <td>Saree / Gown</td>
            <td>6 Meters</td>
            <td>6 Meters</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
