<div {% render 'section-properties' %}>
  <div class="section-stack">
  {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content, link_text: section.settings.link_text, link_url: section.settings.link_url -%}

    <div class="imgblock">
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
<div class="inner-block">
<div class="cstmin">
<img src="{{ block.settings.image | img_url : 'master' }}">
  <p class="cri-head">{{ block.settings.title }}</p>
</div>
</div>
        {% endif %}
        {% endfor %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Influencers criteria",
    "class":"cstm-criteria",
    "settings": [
       {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Gradient replaces solid colors when set."
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background gradient"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color"
      },
      {
        "type": "color_background",
        "id": "heading_gradient",
        "label": "Heading gradient"
      }
    ],
    "blocks":[
      {
        "type":"title",
        "name":"block",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"title",
            "label":"title"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Influencers criteria",
        "category":"custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}